.body {
  background-color: #c96f09b4;
  text-align: center;
  flex-direction:column;

}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}








