.body {
  background-color: #c96f09b4;
  text-align: center;
  flex-direction:column;

}

.lauryn{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.DOOM{
  border: solid 3px;
  border-color: rgba(94, 88, 75, 0.603);
  border-radius: 8px;
 color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(236, 236, 236);
}

.Kanye{
  border: solid 3px;
  border-color: rgba(165, 15, 224, 0.603);
  border-radius: 8px;
 color: rgb(231, 171, 121);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(89, 60, 168);
}

.JPEGMAFIA{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(60, 103, 168);
}

.Nas{
  border: solid 3px;
  border-color: rgba(216, 157, 30, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(168, 60, 60);
}

.Mos-Def{
  border: solid 3px;
  border-color: rgba(2, 2, 2, 0.603);
  border-radius: 8px;
 color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(148, 76, 18);
}

.Kendrick{
  border: solid 3px;
  border-color: rgba(108, 141, 55, 0.603);
  border-radius: 8px;
 color: rgb(22, 39, 77);
  font-family: 'Times New Roman', Times, serif;
 background-color: rgb(64, 117, 167);
}








